@import "../colors.scss";

.power-options-button {
  all: unset;

  margin: 8px;
  padding-left: 4px;
  padding-right: 4px;

  border-radius: variables.$radius;

  border: 2px solid transparent;

  // Smooth out the state changes
  transition: all 200ms ease-in-out;

  image,
  label {
    color: $on-surface; // Default content color
  }

  &:hover,
  &:focus {
    // Adding the outline/border using your primary color
    border-color: $primary;
    // Optional: add a very subtle tint to the background
    background-color: rgba($primary, 0.05);
  }

  &:active {
    // When pressed down, invert or shift the colors
    background-color: $primary;
    border-color: $primary;

    image,
    label {
      color: $on-primary; // Ensure text/icon is readable on the new background
    }
  }

  &.active {
    background-color: $primary;
    image,
    label {
      color: $on-primary;
    }
  }
}

.power-options-box {
  min-height: 80px;
  color: $primary_container;
}
