@import "colors.scss";

.island-container {
  padding-left: 10px;
  padding-right: 10px;
  min-height: variables.$bar-height;
  border-radius: variables.$radius;
  margin: variables.$margin;
  background-color: $on_primary_fixed;
}
