@use "variables";

@import "date";
@import "audio";
@import "material";
@import "island";
@import "osd";
@import "workspaces";
@import "media";
@import "tools";
@import "pill";
@import "systray";
@import "pomodoro";
@import "widgets";
@import "colors.scss";
@import "./widget_styles/default_name";
@import "./widget_styles/power_options";

.bar {
  margin: variables.$margin;
}

.test-slider {
  padding: 0px;
  margin: 14px;

  trough {
    min-width: 200px;
    border-radius: 99px;
    background-color: $on_primary_fixed_variant;

    outline: none;
    outline-width: 0px;
    border: none;
    border-style: none;

    highlight {
      border-radius: 99px;
      background-color: $primary;
    }
  }

  slider {
    min-height: 26px;
    min-width: 2px;
    margin: -10px 0px;
    outline: 4px solid $on_primary_fixed;
    outline-offset: 0px;
    border-radius: 28px;
    transition: 100ms;
  }
}

.information_panel {
  min-height: variables.$bar-height;
  background-color: red;
  border-radius: variables.$radius;
  padding: 1px;
}
