@import "colors.scss";

.workspace-btn-container {
  margin: variables.$margin;
  background-color: $primary_container;
  border-radius: 999px;
}

.workspace-btn {
  all: unset;

  color: $on_surface;

  border-radius: 999px;

  margin: 0px;
  padding: 0px;

  min-height: 16px;
  //min-width: 28px;
  min-width: 35px;

  &.active {
    background-color: $primary;
  }
}

.workspace-btn-label {
  font-weight: 800;
  font-size: 16px;

  &.active {
    color: $on_primary;
  }
}

.workspace-btn-inside-box {
  margin-left: 5px;
}

.workspace-btn-icon {
  margin: 16px -10px 0px 0px;
  padding: 0px;
}
